tests/test_apk/simple_xor_zlib_base64.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/subapp.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/coper2_1.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/coper3_2.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/dexprotector.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/simple_skip4_zlib_base64.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/inflate2.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/sesdex.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/pronlocker.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/coper2.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/default_dex_protector.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/inflate.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/loader_rc4_key_0.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/multiple_rc4_init.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/loader_rc4_second_key_0.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/multidex_without_header.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/simpleaes.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/simple_xor2.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/simplexor.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/coper.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/loader_rc4_multiple_stage.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/loader_rc4_static_key_in_key_class.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/moqhao.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/coper2_0.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/kangapack.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/protect_key_chines_manifest_without_zlib2.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/protect_key_chines_manifest_without_zlib.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/simple_first_100_byte.apk filter=lfs diff=lfs merge=lfs -text
tests/test_apk/crocodilus.apk filter=lfs diff=lfs merge=lfs -text
